@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>Title = @ViewBag.SeriesTitle</h1>
        <h2>Number of Items: @ViewBag.ItemNumber</h2>
        <h5>
            Description :
            <div> @Html.Raw(ViewBag.Description) </div>
        </h5>
        @if (ViewBag.Authers.Length > 0)
        {
            <h5>Writers:</h5>
            <div>
                <ul>
                    @foreach (var auther in ViewBag.Authers)
                    {
                        <li>@auther</li>
                    }
                </ul>
            </div>
        }
    </div>
</body>
</html>
