@{
    Layout = null;
    var seriesTitle = "The Amazing Spider Man";
    var itemNumber = 700;
    var description = "<p>this si the paragraph which I wrote first time during...<strong>programing of ASP.NET</strong></p>";
    var auther = new string[]
    {
        "script : ABC",
        "Pencil : GHI",
        "Ink color : JKL",
        "Writer : MNO"
    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>Title = @seriesTitle</h1>
        <h2>Number of Items : @itemNumber</h2>
        <h5>Description :
            <div> @Html.Raw(description) </div>
        </h5>
        <div>@auther</div>
    </div>
</body>
</html>
