@model ComicProject.Models.Comic[]
@{
    ViewBag.Title = "News Let | Home";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    @foreach (var comic in Model)
    {
        <div class="col-md-4">
            <h4>@comic.DisplayText</h4>
            <img src="/Images/@comic.CoverImageFileName"
                 alt="@comic.DisplayText"
                 class="img-responsive"/>
        </div>
    }
    
</div>

